
body {
    display: grid;
    grid-template-rows: 50px auto;
    margin: 0px;
    /* background: OldLace; */
}

header {
    grid-row-start: 1;
}

nav {
    display: none;
}

section div#results {
    grid-row-start: 2;
    height: 100%;
}

input.headersearch {
    display:table-cell;
    width:100%;
}