.typeicon {
    background: no-repeat center bottom;
    height: 28px;
    background-size: 24px;
    position: relative; /* makes cssnumber move to right corner */
    padding: 1px;
    color: transparent;
}

.format.mediumicon {
    background-size: 24px;
    padding: 12px;
    float: left; /* otherwise the text (label + catno) is displayed on a new "line" */
}

[class*='video'].typeicon {
    background-image: url(video-icon.png);
}

[class*='audio'].typeicon {
    background-image: url(audio-icon.png);
}
[class*='image'].typeicon {
    background-image: url(image-icon.png);
}

.cssnumbers {
    font-size: 0.75rem;
    background-color:lightseagreen;
    width: 0.9rem;
    line-height: 0.95rem;
    text-align: center;
    color:#fff;
    z-index: 2;
    border-radius: 5px;
    position: absolute;
    left: 29px;
}