html{
    font-family: "Raleway", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 10pt;
    color: black;
    height: 100%;
    /* background: #ceffe5 */    
}

body {
    padding: 0;
    white-space: break-word;/* white-space: pre-line; */
    word-wrap: break-word;
    height: 100vh;
}

/* FONT STYLES */
h1{
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    line-height: 20px;
    color: black;
}
h2{
    display: inline-block;
    margin: 0.3em;
    font-size: 1.2em;
}
h3 {
    color: black;
}
h5 {
    color: black;
}
.details {
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}
.inline, .descripion {
    font-weight: normal;
    color: grey;
    padding-left: 5px;
}
table tr td {
    font-family: "Roboto", "Calibri", "Arial";
    white-space: pre-line;
    word-wrap: break-word;
}

a.heading {
    text-decoration: none;
}

a.heading, a.heading:visited, a.heading:hover, a.heading:active {
    color: inherit;
}

a.url {
    font-style: italic;
    font-size: 0.8em;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

/*BUTTONS*/
.btn {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 0px 2px 2px 0px;
    color: #ffffff;
    font-size: 1.0em;
    padding: 4px 4px 0px 4px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    border: 1px solid white;
}
.btn:hover {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

.btn:active {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

.btn:focus {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

/*SEARCH BUTTON*/
.btn#search {
    background:pink;
}


/* TABLE */
table {
    table-layout: auto;
    border-collapse:collapse;
    font-size: 0.9em;
}
table tr th { /* table.mainsheet ??? */
    /* text-align: left; */
    background-color:lightblue;
    font-style: italic;
    color: white;
    padding: 10px 1px !;
}

table tr td.detailsHeader {
    font-style: italic;
    text-align: right;
}

th.urlCol {
    font-size: 0.9em;
    /* word-wrap: break-all;
    white-space: nowrap; */
}

td.urlCol {
    max-width: 4vw;
    /* font-size: 0.9em; */
    /* word-wrap: break-all; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
    white-space: nowrap;
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}

/* CHILD ROWS */
table tbody td.child {  /* table.mainsheet ??? */
    padding: 0px 2px 0px 40px;
    background:#ededed;
}

table tr.detailsRow td {
    background-color: lightgrey
}

table tr td.titlecolumn {
    font-weight: bold 
}

.dataTables_filter {
    float: left !important;
}



input[type="submit"] {
    display: block;
}

input[type="search"] {
    width: 10em;
}

.searchnav {
    display: flex;
}



.uncertain {
    color: orange;
}

div.dataTables_wrapper div.dataTables_filter {
    float: left;
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: bold;
    margin: 0.3em;
    font-size: 1.2em;
}
div.dataTables_wrapper div.dataTables_info {
    float: right;
    text-align: left;
    padding: 0;
}

p.details#updated {
    margin: 0;
}