html{
    font-family: "Raleway", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 10pt;
    color: black;
    /* background: #ceffe5 */    
}

body {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: minmax(50px, auto);
    margin: 0px;
    /* background: OldLace; */
}

table tr td { 
    white-space:pre-line;
    font-family: "Calibri", "Arial";
}

table tr th {
    /* text-align: left; */
    background-color:lightblue;
    font-style: italic;
    color: white;
}

table tr td.detailsHeader {
    font-style: italic;
    text-align: right;
}

table tr.detailsRow td {
    background-color: lightgrey
}

table tr td.child {
    padding: 0px 2px 0px 40px;
    background:#ededed;
}

table tr td.titlecolumn {
    font-weight: bold 
}

.dataTables_filter {
    float: left !important;
 }

header {
    grid-column: 1 / span 2;
    grid-row-start: 1;
}

nav {
    grid-row-start: 2;
    grid-column-start: 1;
    height: 100%;
    float: right;
    border-right: solid 1px grey;
}

section div#results {
    grid-row-start: 2;
    grid-column-start: 2;
    height: 100%;
}

h1{
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    line-height: 20px;
    color: black;
}

h2{
    display: inline-block;
    margin: 0.3em;
    font-size: 1.2em;
}

h3 {
    color: black;
}

h5 {
    color: black;
}

.details {
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}

.inline, .descripion {
    font-weight: normal;
    color: grey;
    padding-left: 5px;
}

.nav {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 0px 2px 2px 0px;
    color: #ffffff;
    font-size: 1.0em;
    background: #f69c55;
    padding: 4px 4px 0px 4px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    display: flex;
    border: 1px solid white;
}

.nav:hover {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

.nav:active {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

.nav:focus {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}

input[type="submit"] {
    display: block;
}

input[type="search"] {
    width: 10em;
}

.searchnav {
    display: flex;
}

a.heading {
    text-decoration: none;
}

a.heading, a.heading:visited, a.heading:hover, a.heading:active {
    color: inherit;
}

a.tableLink {
    font-style: italic
}

.uncertain {
    color: orange;
}

div.dataTables_wrapper div.dataTables_filter {
    float: left;
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: bold;
    margin: 0.3em;
    font-size: 1.2em;
}
div.dataTables_wrapper div.dataTables_info {
    float: right;
    text-align: left;
}